
*{
	box-sizing:border-box;
}

body {
	background: url(../images/concrete_seamless.png);
	font-size:18px;
	line-height:34px;
	font-family: Ariel, Helvetica Neue, Helvetica, sans-serif;
	color:#777;
}

.container {
	width:100%;
	max-width:960px;
	margin:0 auto;
	clear:both;
}

h1, h2, h3, p {
	margin-bottom:20px;
}

p:last-child {
	margin-bottom:0;
}

h1, h2, h3 {
	color:#4aaaa5;
	font-weight:700;
	font-family:Georgia, Times, Times New Roman, serif;
}

h1 {
	padding-bottom:20px;
	border-bottom:3px solid #ddd;
	line-height:49px;
	font-size:30px;
}

h2, h3 {
	font-size:22px;
}

#masthead {
	background:#fff;
	margin: 0 0 30px;
	z-index:99;
	color:#fff;
	overflow:auto;
	border-bottom:2px solid #ccc;
	position:fixed;
	width:100%;
}

#logo {
	font-size:30px;
	font-weight:700;
	color:#fff;
	line-height:90px;
	text-align:center;
	font-family:Georgia, Timmes, Times New Roman, serif;
	float:left;
	background:#4aaaa5;
	height:90px;
	width:250px;
	text-decoration:none;
}

nav {
	margin-top:25px;
	float:right;
}

nav a {
	line-height:18px;
	padding-left:15px;
	border-left:1px solid #efefef;
	display:inline-block;
	margin-left:15px;
	text-decoration:none;
	color:#999;
}

nav a:first-child {
	border-left:0 none;
}

#main-container {
	padding-top:130px;
}

.main-section {
	border:2px solid #ddd;
	float:left;
	max-width:650px;
	width:100%;
	margin:0 0 40px 0;
	padding:30px;
	background:#fff;
}

.auth-image {
	margin-right:25px;
	float:left;
	margin-top:10px;
	height:auto;
	width:200px;
}

.connect {
	overflow: auto;
	padding-top:130px;
}

.sidebar {
	margin-bottom:20px;
	border:1px solid #ddd;
	float:right;
	max-width:270px;
	width:100%;
	padding:30px;
	background:#fff;
}

h3, .sidebar, h2 {
	line-height:22px;
	margin-bottom:15px;
	padding-bottom:20px;
	border-bottom:2px solid #eee;
}

.social {
	display:inline-block;
	margin-right:5px;
	margin-top:8px;
	height:62px;
	width:62px;
}

.social:last-child{
	margin-right:0;
}

footer {
	text-align:center;
	font-size:12px;
	color:#ccc;
	border-top:8px solid #4aaaa5;
	padding:30px 0;
	color:#fff;
	background:#666;
	clear:both;
}

.work {
	margin:20px 0 25px;
	float:left;
	position:relative;
	overflow:auto;
	width:274px;
}

.work:nth-child(even) {
	margin-right:40px;
}

.work img {
	opacity:.8;
	width:100%;
	border:0 none;
}

.work h3 {
	border-bottom:0;
	background:border:2px solid #ddd;
	float:left;
	max-width:650px
	width:100%;
	margin:0 0 40px 0;
	padding:30px;
	background:#4aaaa5;
	color:#fff;
	text-align: center;
	position:absolute;
	bottom:20px;
	padding:15px;
	width:100%;
	line-height:30px;
	margin-bottom:0;
	font-weight:300;
}

#contact-form ul {
	margin-bottom:20px;
	clear:both;
}

#contact-form li {
	margin-bottom:10px;
}

label,
input[type=text],
input[type=email],
textarea {
	display:block;
	width:100%;
}

input[type=text],
input[type=email],
textarea {
	font-size:14px;
	padding: 0 10;
	border:1px solid #ddd;
	height:35px;
}

textarea {
	width:100%;
	height:200px;
}

input[type=submit] {
	color:#fff;
	cursor:pointer;
	padding:10px 30px;
	font-size:18px;
	border:0 none;
	background:#4aaaa5;
}

